* {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    background-color: lightblue;
}

.d-block {
    display: block;
    /* margin: 0 auto; */
}

.d-inline {
    display: inline;
}